<c-vars
    :autoresize="False"
    size="md"
    height="md"
    :resizable="True"
    :size_classes="{
        'xs': 'text-xs px-2 py-1',
        'sm': 'text-sm px-2.5 py-1.5',
        'md': 'text-base px-3 py-2',
        'lg': 'text-lg px-3.5 py-2.5',
        'xl': 'text-xl px-4 py-3',
        '2xl': 'text-2xl px-5 py-3.5'
    }"
    :height_classes="{
        'xs': 'h-16',
        'sm': 'h-24',
        'md': 'h-32',
        'lg': 'h-48',
        'xl': 'h-64',
        '2xl': 'h-80'
    }"
/>

<textarea
    class="
        w-full
        border
        border-zinc-300
        dark:border-zinc-700
        bg-[var(--color-input-bg)]
        dark:text-zinc-300
        rounded-control
        shadow-[var(--shadow-input)]
        transition-colors
        focus-ring
        {% if resizable == False %} resize-none{% endif %}
        {{ size_classes|get_item:size }}
        {{ height_classes|get_item:height }}
    "
    {{ attrs }}
    {% if autoresize %}
        x-data="{ resize: () => { $el.style.height = 'auto'; $el.style.height = $el.scrollHeight + 'px' } }"
        x-init="$nextTick(() => resize())"
        @input="resize()"
        style="overflow-y:hidden;"
    {% endif %}
>{{ slot }}</textarea>
