<c-vars class="" />

<div class="overflow-x-auto">
  <table {{ attrs }} class="w-full text-sm text-left border-collapse
    [&_th]:px-3 [&_th]:py-2.5 [&_th]:font-medium [&_th]:text-zinc-500 dark:[&_th]:text-zinc-400 [&_th]:whitespace-nowrap
    [&_td]:px-3 [&_td]:py-2.5 [&_td]:text-zinc-700 dark:[&_td]:text-zinc-300
    [&_thead]:border-b [&_thead]:border-zinc-200 dark:[&_thead]:border-zinc-700
    [&_tbody_tr]:border-b [&_tbody_tr]:border-zinc-100 dark:[&_tbody_tr]:border-zinc-800
    [&_tbody_tr:last-child]:border-0
    [&_tbody_tr:hover]:bg-zinc-50 dark:[&_tbody_tr:hover]:bg-zinc-800/50
    {{ class }}">
    {{ slot }}
  </table>
</div>
